{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "importOrder": [
    "^react$",
    "^@/types/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/config/(.*)$",
    "^@/hooks/(.*)$",
    "^@/assets/(.*)$",
    "^@/constants/(.*)$",
    "^@/helpers/(.*)$",
    "^@/api/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.css)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "cn"]
}
